@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --bg-color: rgb(27, 29, 35);
  --soft-bg-color: rgb(39, 44, 54);
  --text-color: white;
  --soft-text-color: #b7bac1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  padding-left: 0rem !important;
}

body {
  background-color: var(--soft-bg-color) !important;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  gap: 10px;
  height: 100vh;
  background-color: var(--soft-bg-color);
  overflow-y: auto; /* Enables scrolling if content overflows */
}
