.container {
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--soft-text-color);
  font-weight: bold;
  text-transform: capitalize;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--soft-text-color);
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
