.sidebar__wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--bg-color);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--text-color);
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar__logo_name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--soft-text-color);
  font-size: 42px;
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.8rem 1rem;
  gap: 10px;
  border-radius: 0.8rem;
}

.sidebar__link:hover,
.sidebar__link_active {
  background-color: var(--soft-bg-color);
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--soft-text-color);
}

.sidebar__name {
  color: var(--soft-text-color);
}

.collapsed {
  width: 5.3rem;
}

.collapsed .sidebar__name,
.collapsed .sidebar__logo-name {
  display: none;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--bg-color);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
  color: var(--text-color);
}
